@charset "utf-8";
/* CSS Document */
/*=  admin section css start here
--------------------------------------------------*/
.wpdiffnavipostoptiontable td{padding:5px;vertical-align: top;}

/*= admin section css end here
--------------------------------------------------*/

/*=  admin section css start here
--------------------------------------------------*/
.widget_wpdiffnavieachpage_widget a {
	border: 0;
}
.widget_wpdiffnavieachpage_widget ul {
	list-style: none;
	margin: 0;
}
.widget_wpdiffnavieachpage_widget li {
	padding: 0.7667em 0;
}

.widget_wpdiffnavieachpage_widget li:first-child {
	border-top: 0;
	padding-top: 0;
}

.widget_wpdiffnavieachpage_widget li:last-child {
	padding-bottom: 0;
}

.widget_wpdiffnavieachpage_widget .sub-menu {
	padding-top: 0.7667em;
}

/*= admin section css end here
--------------------------------------------------*/